body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

#page-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    color: #fff;
    text-align: center;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.footer a,
.footer a:hover {
    color: #ffffff;
}

.mic {
    position: relative;
    font-size: 200px;
}

.mic.recording .pulse {
    display: block;
}

.mic-icon {
    position: relative;
    z-index: 2;
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 50%;
    background-color: #a94442;
    animation: waves 3s ease-out;
    animation-iteration-count: infinite;
    z-index: 1;
}

.pulse-1 {
    animation-delay: 1s;
}

.pulse-2 {
    animation-delay: 2s;
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(30);
        opacity: 0;
    }
}

#result {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    text-align: left;
    transform: translateX(-50%);
}
